<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Удаление Всех Заказов</title>
</head>
<body>

<div th:replace="headerAdmin :: headerAdmin"></div>


<br><br>
<div class="alldelete">
<h2>Внимание!!! Вы хотите удалить все заказы из базы данных!!! Восстановить будет невозможно!!!<br>
Еще раз подумайте прежде чем нажать кнопку "Удалить ВСЕ Заказы"!!!<br>
Скорее всего Вам не надо этого делать!!! Вам также понадобятся права "superadmin"!<br>
Лучше вернитесь на страницу "Администратор".</h2>
<br><br><br>
<form id="ordersdelete" th:action="@{/superadmin/allOrdersDelete}" method="post">
        
	    <input type="submit" value="Удалить ВСЕ Заказы" style="width: 150px; height: 40px; background:#FF0000;color:white; ">
</form>
</div>

<br><br>
<div th:replace="footer :: footer"></div>

</body>
</html>