<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/acdc.ico}">
<title>Редактирование Заказа</title>
</head>
<body>

<div th:replace="header :: header"></div>
 
 <br><br>
 <div class="left">
 
 <div>
 <h3> Форма редактирования информации о Заказе</h3>
 <fieldset style="border-color:#FFEBCD;text-align: center">
  <form id="orderedit" th:action="@{/calcOrder}" method="post">
   <input type="hidden" name="id" th:value="${order.getId}">
   <fieldset name="order">       
   <legend> № Заказа и БС </legend>
   <p><label for="ordernumber">№ Заказа: </label>
      <input type="number" name="ordernumber" min="1" style="width:250px;" th:value="${order.getOrdernumber}" required></p>
   <p><label for="bsnumber">№ Базовой стации: </label>
      <input type="text" name="bsnumber" id="bsnumber" placeholder="78-12345 (5-значный) " pattern="78-\d{5}" title="Номер БС должен быть 5-значным." th:value="${order.getBsnumber}" required><i></i></p>
   </fieldset>
   <fieldset name="order_1">
   <legend> Тип работ </legend>
    <p><input name="worktype" type="radio" value="emergency" th:checked="${order.getWorktype}=='emergency'"> Аварийное (не более 3-х суток)</p>
    <p><input name="worktype" type="radio" value="plan" th:checked="${order.getWorktype}=='plan'"> Плановое (продолжение Аварийного, начиная с 4-ых суток)</p>
    <p><input name="worktype" type="radio" value="false" th:checked="${order.getWorktype}=='false'"> Ложный выезд</p>
    <p><input name="worktype" type="radio" value="planinitial" th:checked="${order.getWorktype}=='planinitial'"> Плановое</p>
    </fieldset>	
   <fieldset name="order">
   <legend> Мощность ДГУ </legend>
    <p><input name="dgutype" type="radio" value="3" th:checked="${order.getDgutype}==3"> 3.5 кВт </p>
    <p><input name="dgutype" type="radio" value="8" th:checked="${order.getDgutype}==8"> 8 кВт</p>
    <p><input name="dgutype" type="radio" value="16" th:checked="${order.getDgutype}==16"> 16 кВт</p>
    </fieldset>	
   <fieldset name="order">
   <legend> Чей ДГУ используется? </legend>
    <p><input name="owener" type="radio" value="po" th:checked="${order.getOwenertype}=='po'"> Подрядчика </p>
    <p><input name="owener" type="radio" value="mts" th:checked="${order.getOwenertype}=='mts'"> Заказчика </p>
    </fieldset>	
   <fieldset name="order">
   <legend> Использование техники повышенной проходимости (ГАЗ-66,ЗИЛ-131,Урал и т.д.) </legend>
    <p><input name="jeep" type="radio" value="1" th:checked="${order.getJeepyesno}==1"> Да </p>
    <p><input name="jeep" type="radio" value="0" th:checked="${order.getJeepyesno}==0"> Нет </p>
    </fieldset>	
   <fieldset name="order">
   <legend> Время работ </legend>
   <p><label for="start">Начало : </label>
      <input type="datetime-local" name="start" th:value="${start}" required></p>
   <p><label for="end">Окончание : </label>
      <input type="datetime-local" name="end" th:value="${end}" required></p>
   </fieldset>
   <fieldset name="order">
   <legend>Расстояние до БС от КАД</legend>
    <p style="color:#0000FF;font-size:18px;font-style:italic;">Оставляем "ноль", если БС внутри КАД или дизеление Плановое (продолжение Аварийного) !</p>
	<p><label for="distance">Расстояние, км : </label>
	<input type="number" size="7" name="distance" id="distance" step="0.01" min="0" value="0" th:value="${order.getOrderdistance}" required></p>
    </fieldset>
    <fieldset name="order">
    <legend> Комментарий(замечания) к Заказу </legend>
      <p><label for="ordernumber">Комментарий: </label>
      <input type="text" name="comment" style="width:250px;" th:value="${order.getComm}"></p>
   </fieldset>
   <br>
   <p><input type="submit" value="Рассчитать" style="width: 100px; height: 40px; background-color: #98FB98; margin-left:70px; margin-right:30px">
      <input type="reset" value="Очистить" style="width: 100px; height: 40px; background-color: #FFC0CB;"></p>
 </form>
 </fieldset>
 </div>
 
 </div>
 
 <div class="right">
<table class="act">
 <caption align="top"><h3>Результаты расчета</h3></caption>
            <tr><td>№ Заказа</td><td th:text="${orderNumber}" colspan="4"></td></tr>
            <tr><td>Наименование Объекта </td><td th:text="${bsNumber}" colspan="4"></td></tr>
            <tr><td>Адрес Объекта </td><td th:text="${bsAddress}" colspan="4"></td></tr>
            <tr><td>Начальный срок выполнения Работ</td><td th:text="${dateStart}" colspan="4"></td></tr>
            <tr><td>Конечный срок выполнения Работ</td><td th:text="${dateEnd}" colspan="4"></td></tr>
            <tr><td>Общая стоимость Работ</td><td th:text="${orderCalcNds}" colspan="4"></td></tr>
            <tr><td colspan="5" style="border:none">
<tr>
<td class="th_table">Перечень работ, услуг</td> <td class="th_table">Ед. изм.</td> <td class="th_table">Кол-во</td> 
<td class="th_table">Цена за ед., руб. без НДС</td> <td class="th_table">Стоимость, руб. без НДС</td>
</tr>
<tr th:if="${jeepPrice}!=0">
<td>Использование автомобильной техники повышенной проходимости (ГАЗ-66, ЗИЛ-131, Урал, Камаз и т.д.)</td> <td>выезд</td> <td th:text="${jeepYesNo}"></td> <td th:text="${jeepOnePrice}"></td> <td th:text="${jeepPrice}"></td>
</tr>
<tr th:if="${orderOutGoPrice}!=0">
<td>Выезд аварийной бригады / Компенсация ложного выезда аварийной бригады для обеспечения АЭС Объекта Заказчика</td> <td>выезд</td> <td th:text="${orderOutGoPrice !=null ? '1' : ''}"></td> <td th:text="${orderOutGoPrice}"> <td th:text="${orderOutGoPrice}"></td>
</tr>
<tr th:if="${orderCalcHPrice}!=0">
<td th:text="'Поддержание электроснабжения оборудования базовой станции (БС) от дизель-генераторной установки (ДГУ) '+${owenerType==null ? '?':(owenerType=='po'?'Исполнителя':'Заказчика')}+' '+${dguType==null? '?':(dguType==3?'3.5':dguType)}+' kW ('+${workType==null?'?':(workType=='emergency'?'Аварийное':'Плановое')}+')'"></td> 
<td>час</td> <td th:text="${orderDiffTime}"></td> <td th:text="${timeHoursPrice}"></td> <td th:text="${orderCalcHPrice}"></td>
</tr>
<tr th:if="${orderCalcDPrice}!=0">
<td th:text="'Поддержание электроснабжения оборудования базовой станции (БС) от дизель-генераторной установки (ДГУ) '+${owenerType==null ? '?':(owenerType=='po'?'Исполнителя':'Заказчика')}+' '+${dguType==null? '?':(dguType==3?'3.5':dguType)}+' kW ('+${workType==null?'?':(workType=='emergency'?'Аварийное':'Плановое')}+')'"></td> 
<td>сутки</td> <td th:text="${orderDiffDay}"></td> <td th:text="${timeDayPrice}"></td> <td th:text="${orderCalcDPrice}"></td>
</tr>
<tr th:if="${orderTransport}!=0">
<td th:text="'Транспортировка дизель-генераторной установки (ДГУ) '+${owenerType==null ? '?':(owenerType=='po'?'Исполнителя':'Заказчика')}+' для  базовой станции (БС) за  пределами КАД ('+${dguType==null? '?':(dguType==3?'3.5':dguType)}+' kW)'"></td> 
<td>км</td> <td th:text="${orderDistance}"></td> <td th:text="${orderKmPrice}"></td> <td th:text="${orderTransport}"></td>
</tr>

<tr><td colspan="4" style="text-align:right">Итого по Заказу без НДС 20%, руб.</td><td th:text="${orderCalc}"></td></tr>
<tr><td colspan="4" style="text-align:right">НДС 20%, руб.</td><td th:text="${orderNds}"></td></tr>
<tr><td colspan="4" style="text-align:right">Итого с НДС 20%, руб.</td><td th:text="${orderCalcNds}"></td></tr>
<tr><td colspan="5" style="border:none"></td></tr>
<tr><td colspan="5" style="border:none">
<p><label for="comm" style="font-weight:bold;color:#8B0000;">Комментарий(замечания) к Заказу: </label>
    <textarea form ="orderform" name="orderComment" id="comm" cols="70" rows="4" wrap="soft"
     th:value="${orderComment}" placeholder="Если при проверке Заказа выявлены неточности и расхождения...Укажите их в этом поле."></textarea>
</td></tr>
<tr><td colspan="5" style="border:none"></td></tr>
<tr><td colspan="5" style="background:#98FB98">
    <form id="orderform" th:action="@{/orderEdit}" method="post">
        <input type="hidden" name="orderNumber" th:value="${orderNumber}" />
        <input type="hidden" name="bsNumber" th:value="${bsNumber}" />
        <input type="hidden" name="dateStart" th:value="${dateStart}" />
        <input type="hidden" name="dateEnd" th:value="${dateEnd}" />
        <input type="hidden" name="orderCalc" th:value="${orderCalc}" />
        <input type="hidden" name="orderCalcNds" th:value="${orderCalcNds}" />     
        <input type="hidden" name="jeepPrice" th:value="${jeepPrice}" />
        <input type="hidden" name="jeepYesNo" th:value="${jeepYesNo}" />
        <input type="hidden" name="jeepOnePrice" th:value="${jeepOnePrice}" />
        <input type="hidden" name="orderOutGoPrice" th:value="${orderOutGoPrice}" />
        <input type="hidden" name="orderCalcHPrice" th:value="${orderCalcHPrice}" />
        <input type="hidden" name="orderDiffTime" th:value="${orderDiffTime}" />
        <input type="hidden" name="timeHoursPrice" th:value="${timeHoursPrice}" />
        <input type="hidden" name="owenerType" th:value="${owenerType}" />
        <input type="hidden" name="dguType" th:value="${dguType}" />
        <input type="hidden" name="workType" th:value="${workType}" />
        <input type="hidden" name="orderCalcDPrice" th:value="${orderCalcDPrice}" />
        <input type="hidden" name="orderDiffDay" th:value="${orderDiffDay}" />
        <input type="hidden" name="timeDayPrice" th:value="${timeDayPrice}" />
        <input type="hidden" name="orderTransport" th:value="${orderTransport}" />
        <input type="hidden" name="orderDistance" th:value="${orderDistance}" />
        <input type="hidden" name="orderKmPrice" th:value="${orderKmPrice}" />
        <input type="hidden" name="orderNds" th:value="${orderNds}" />
	    <input type="submit" value="Сохранить" style="background:#98FB98;border:none;width:500px">
     </form>
</td></tr>
</table>
</div>
 
<div th:replace="footer :: footer"></div>

</body>
</html>