<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Insert title here</title>
</head>
<body>
<div th:fragment="header">
<div class="headercss">
<header>
<span sec:authorize="isAuthenticated()">
<a th:href="@{/}">На главную</a> |  
LogOut <a th:href="@{/logout}"><img src = "images/logout.jpg" alt="logout" width="25" height="25" style="border: none"></a>      
</span>
</header>
</div>
</div>
</body>
</html>