<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Insert title here</title>
</head>
<body>
<div th:fragment="headerAdmin">
<div class="headercss">
<header>

<a th:href="@{/}">На главную</a> |  
<a th:href="@{/calcOrder}">Форма расчетов</a> |  
<a th:href="@{/admin}">Администратор</a> |
LogOut <a th:href="@{/logout}"><img th:src = "@{/images/logout.jpg}" alt="logout" title="Выход" width="25" height="25" style="border: none"></a>      

</header>
</div>
</div>
</body>
</html>