<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Insert title here</title>
</head>
<body>
<div th:fragment="headerAdmin" class="headercss">

<a th:href="@{/calcOrder}">Форма расчетов</a> &nbsp | &nbsp  
<a th:href="@{/admin}">Администратор</a> &nbsp | &nbsp
<a th:href="@{/logout}">Выход</a>      

</div>
</body>
</html>