<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Приветствие</title>
</head>
<body>

<div class="parent" >
<div class="center" >
<h2 style="color:red">Добро пожаловать!</h2>
<br><br>
<a href="/calcOrder">Расчет стоимости заказов Аварийного Электроснабжения (АЭС)</a>
</div>
</div>

<div th:replace="footer :: footer"></div>

</body>
</html>