<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title th:text="${title}"></title>
</head>
<body>

<div class="parent" >

<div class="center" >
<h2 th:text="${note}" style="color:red"></h2>
</div>
<br><br>
<div class="ok">
<a href="javascript:history.back();" style="color:green;">Продолжить редактирование Заказов</a> |
<a th:href="@{/admin}">Администратор</a> |
<a th:href="@{/calcOrder}">Форма расчетов</a> |
<a th:href="@{/}">На главную</a> |
LogOut <a th:href="@{/logout}"><img th:src = "@{/images/logout.jpg}" alt="logout" width="27" height="27" style="border: none"></a>      
</div>

</div>

<div th:replace="footer :: footer"></div>

</body>
</html>