<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Завершение</title>
</head>
<body>
<div class="parent" >
<div class="center" >
<h2> Сообщение отправлено</h2>
<h2 style="color:red">Спасибо за работу!</h2>
<br>
Вернуться на страницу расчета стоимости заказов??? <a th:href="@{/calcOrder}">Вернуться</a>
</div>
</div>
<div class=footer>
Автор: Сергей Павлов #SrgyPvlv.&nbsp Написать автору:      
<a href="mailto:s.a.pavlov@mail.ru?subject=Вопрос по Приложению:Расчет Заказов аварийного электроснабжения." style="color:#000000;font-weight:bold;">@e-mail </a>
</div>	
</body>
</html>