<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/acdc.ico}">
<title>Завершение</title>
</head>
<body>

<div class="parentOkNo" >

<div class="center" >
<h2> Сообщение отправлено</h2>
<h2 style="color:red">Спасибо за работу!</h2>
</div>
<br><br>
<div class="ok">  
<a th:href="@{/calcOrder}">Форма расчетов</a> |  
LogOut <a th:href="@{/logout}"><img th:src = "@{/images/logout.jpg}" alt="logout" width="27" height="27" style="border: none"></a>      
</div>

</div>

<div th:replace="footer :: footer"></div>

</body>
</html>