<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Завершение</title>
</head>
<body>

<div th:replace="header :: header"></div>

<div class="parent" >
<div class="center" >
<h2> Сообщение отправлено</h2>
<h2 style="color:red">Спасибо за работу!</h2>
<br>
Вернуться на страницу расчета стоимости заказов??? <a th:href="@{/calcOrder}">Вернуться</a>
</div>
</div>

<div th:replace="footer :: footer"></div>

</body>
</html>