<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  <title>Расчет Заказа</title>
 </head>
 <body>
 
 <div th:replace="header :: header"></div>
 
 <br><br>
 <h3> Форма для расчета оплаты Аварийного Электроснабжения</h3>
  <form th:action="@{/calcOrder}" th:object="${orderForm}" method="post">
  <fieldset name="order">
   <legend> № Заказа и БС </legend>
   <p><label for="ordernumber">№ Заказа: </label>
      <input type="number" name="ordernumber" min="1" required></p>
   <p><label for="bsnumber">№ Базовой стации: </label>
      <input type="text" name="bsnumber" placeholder="78-XXXXX " required></p>
   </fieldset>
   <fieldset name="order">
   <legend> Тип работ </legend>
    <p><input name="worktype" type="radio" value="emergency" checked> Аварийное (Если >= 3 суток,то обязательно Плановое)</p>
    <p><input name="worktype" type="radio" value="plan"> Плановое</p>
    <p><input name="worktype" type="radio" value="false"> Ложный выезд</p>
    </fieldset>	
   <br>
   <fieldset name="order">
   <legend> Мощность ДГУ </legend>
    <p><input name="dgutype" type="radio" value="3"> 3.5 кВт </p>
    <p><input name="dgutype" type="radio" value="8" checked> 8 кВт</p>
    <p><input name="dgutype" type="radio" value="16"> 16 кВт</p>
    </fieldset>	
   <br>
   <fieldset name="order">
   <legend> Чей ДГУ используется? </legend>
    <p><input name="owener" type="radio" value="po" checked> Подрядчика </p>
    <p><input name="owener" type="radio" value="mts" > Заказчика </p>
    </fieldset>	
   <br>
   <fieldset name="order">
   <legend> Использование техники повышенной проходимости (ГАЗ-66,ЗИЛ-131,Урал и т.д.) </legend>
    <p><input name="jeep" type="radio" value="1"> Да </p>
    <p><input name="jeep" type="radio" value="0" checked> Нет </p>
    </fieldset>	
   <br>
   <fieldset name="order">
   <legend> Время работ </legend>
   <p><label for="start">Начало : </label>
      <input type="datetime-local" name="start" required></p>
   <p><label for="end">Окончание : </label>
      <input type="datetime-local" name="end" required></p>
   </fieldset>
   <br>
   <fieldset name="order">
   <legend>Расстояние до БС от КАД</legend>
    <p style="color:#0000FF; font-size:18px">Если БС внутри КАД, то оставляем "ноль"!</p>
	<p><label for="distance">Расстояние, км : </label>
	<input type="number" size="7" name="distance" id="distance" step="0.01" min="0" value="0"></p>
    </fieldset>
   <br>
   <p><input type="submit" value="Рассчитать" style="width: 100px; height: 40px; background-color: #98FB98; margin-left:70px; margin-right:30px">
      <input type="reset" value="Очистить" style="width: 100px; height: 40px; background-color: #FFC0CB;"></p>
  </form>
<br><br>
<div class="right">
<table>
 <caption align="top"><h3>Результаты расчета</h3></caption>
            <tr>
                <th>№ Заказа</th> <th>№ БС</th> <th>Дата начала</th> <th>Дата окончания</th> 
                <th>Стоимость без НДС</th> <th>Стоимость с НДС</th>
            </tr>    
            <tr>
                <td th:text="${orderNumber}"></td> <td th:text="${bsNumber}"></td> <td th:text="${timeStart}"></td> 
                <td th:text="${timeEnd}"></td> <td th:text="${orderCalc}"></td> <td th:text="${orderCalcNds}"></td>
				<td>
				<form id="orderform" th:action="@{/recordOrder}" method="post">
        <input type="hidden" name="ordernumber1" th:value="${orderNumber}" />
        <input type="hidden" name="bsnumber1" th:value="${bsNumber}" />
        <input type="hidden" name="start1" th:value="${timeStart}" />
        <input type="hidden" name="end1" th:value="${timeEnd}" />
        <input type="hidden" name="ordercalc1" th:value="${orderCalc}" />
        <input type="hidden" name="ordercalcnds1" th:value="${orderCalcNds}" />
	    <input type="submit" value="Сохранить">
 </form>
				</td>
            </tr>   
        </table>
    <p><label for="comm" style="font-weight:bold">Комментарий(замечания) к Заказу: </label>
    <textarea form ="orderform" name="comm" id="comm" cols="100" rows="3" wrap="soft"
     th:value="${orderComment}" placeholder="Если при проверке Заказа выявлены неточности и расхождения...Укажите их в этом поле."></textarea>    
        <br>
        <table>
		<caption align="top"><h4>Оплата техники повышенной проходимости</h4></caption>
        <tr>
        <td>Стоимость выезда техники (ГАЗ-66,ЗИЛ-131,Урал и т.д.)</td> <td th:text="${jeepPrice}"></td></td><td>руб.</td>
        </tr>
        </table>
        <br>
		<table>
		<caption align="top"><h4>Оплата выезда / ложного выезда бригады</h4></caption>
        <tr>
        <td>Стоимость выезда / ложного выезда</td> <td th:text="${orderOutGoPrice}"></td></td><td>руб.</td>
        </tr>
        </table>
        <br>
		<table>
		<caption align="top"><h4>Оплата времени поддержания от ДГУ</h4></caption>
        <tr>
        <td>Длительность работы ДГУ</td> <td th:text="${orderDiffTime}"></td><td>час</td><td th:text="${orderDiffDay}"></td><td>сутки</td>
        </tr>
		<tr>
        <td>Стоимость работ при почасовой оплате</td><td th:text="${orderCalcHPrice}"></td><td>руб.</td>
        </tr>
		<tr>
        <td>Стоимость работ при посуточной оплате</td><td th:text="${orderCalcDPrice}"></td><td>руб.</td>
        </tr>
		</table> 
        <br>
        <table>
		<caption align="top"><h4>Оплата транспортировки ДГУ</h4></caption>
        <tr>
        <td>Транспортировка ДГУ</td><td th:text="${orderDistance}"></td><td>км</td>
        </tr>
		<tr>
        <td>Цена за км</td><td th:text="${orderKmPrice}"></td><td>руб.</td>
        </tr>
        <tr>
        <td>Стоимость транспортировки ДГУ</td><td th:text="${orderTransport}"></td><td>руб.</td>
        </tr>
		</table>
		<br>
		<table>
		<caption align="top"><h4>Общая стоимость работ (заказа)</h4></caption>
		<tr>
        <td>Стоимость без НДС</td><td th:text="${orderCalc}"></td><td>руб.</td>
        </tr>
		<tr>
        <td>НДС 20%</td><td th:text="${orderNds}"></td><td>руб.</td>
        </tr>
		<tr>
        <td>Стоимость с НДС</td><td th:text="${orderCalcNds}"></td><td>руб.</td>
        </tr>
        </table>
</div>

<div class = "ymap">
        <a href="https://yandex.ru/maps" target="_blank"> <img src = "/images/map_mini1.png" alt="map" title="Яндекс карты" width="50" height="50" style="border: none"></a>
        <br><br>
		<form th:action="@{/mailSend}" method="get">
		<input type="image" src="/images/envelope.jpg" alt="mail" title="Отправка отчета" width="50" height="50" style="border: none">
		</form>
		<br><br>
		<a href="/documents/prices.pdf" target="_blank"> <img src = "/images/prices.png" alt="prices" title="ТЦП из договора"  width="50" height="50" style="border: none"></a>
		<br><br>
		<form th:action="@{/bdShow}" method="get">
		<input type="image" src="/images/bd.png" alt="bd" title="База Данных заказов" width="50" height="50" style="border: none">
		</form>
		<br><br>
		<form th:action="@{/admin}" method="get">
		<input type="image" src="/images/fit.jpg" alt="fit" title="Администрирование" width="50" height="50" style="border: none">
		</form>
</div>
<br>

<div th:replace="footer :: footer"></div>

</body>
</html>