<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Список Заказов</title>
</head>
<body>

<div th:replace="header :: header"></div>

<br><br>
<div class="parent2">
<div class="stat">
<table id="orderstat" >
<tr>
<th id="th1">Заказов</th><th id="th2">Лимит</th><th id="th3">Потрачено</th><th id="th4">Осталось</th>
</tr>
<tr>
<td><span th:text="${countoforders}"></span></td>
<td><span th:text="${orderslimitdF}"></span> руб.</td>
<td><span th:text="${sumordersdF}"></span> руб.</td>
<td><span th:text="${freedF}"></span> руб.</td>
</tr>
</table>
</div>
<div>
<table id="statistic" >
<tr><td>Минимальная стоимость заказа: </td><td th:text="${minorderdF}"></td><td>руб.</td></tr>
<tr><td>Максимальная стоимость заказа: </td><td th:text="${maxorderdF}"></td><td>руб.</td></tr>
<tr><td>Средняя стоимость заказа: </td><td th:text="${avgorderdF}"></td><td>руб.</td></tr>
<tr><td>Количество ложных выезды до КАД: </td><td th:text="${countfalse}"></td><td>выезд.</td></tr>
<tr><td>Затраты на ложные выезды до КАД: </td><td th:text="${sumfalsedF}"></td><td>руб.</td></tr>
<tr><td>Количество заказов ДФС(учтены в общем кол-ве): </td><td th:text="${countdfs}"></td><td>шт.</td></tr>
<tr><td>Затраты на заказы ДФС: </td><td th:text="${sumdfsdF}"></td><td>руб.</td></tr>
</table>
</div>
</div>
<br>
<div>
<form th:action="@{/bdShow}" method="get">
<label for="str" style="font-size:20px;"> Cтр. </label>
<input type="number" size="5" name="str" id="str" step="1" min="0" th:value="${str}" style="width:40px;height:20px;font-size:16px;text-align:center;">
&nbsp|&nbsp
<label for="numstr" style="font-size:20px;"> Кол-во заказов на стр. </label>
<input type="number" size="5" name="numstr" id="numstr" step="5" min="10" th:value="${numstr}" style="width:40px;height:20px;font-size:16px;text-align:center;">
<input type="submit" value="Применить" style="height:25px;font-size:16px;">
</form>
 <table class="ordertable" border="1">
 <caption align="top"><h3>Список Заказов &nbsp&nbsp&nbsp&nbsp
<form th:action="@{/copyToCsv}" method="get" style="display:inline;">
<input type="submit" value="Импорт в Exel"> 
</form></h3>
</caption>
        <tr>
          <th>№ Заказа</th> <th>№ БС</th> <th>Дата начала</th> 
          <th>Дата окончания</th><th>Стоимость без НДС</th><th>Стоимость с НДС</th><th class="col7">Комментарий</th>
        </tr>
         
        <tr th:each="order : ${orderlist}">
           <td th:text="${order.orderNumber} ">№ Заказа</td><td th:text="${order.bsNumber} ">№ БС</td><td th:text="${order.dateStart} ">Дата начала</td> 
           <td th:text="${order.dateEnd} ">Дата окончания</td><td th:text="${order.calc} ">Стоимость без НДС</td><td th:text="${order.calcNds} ">Стоимость с НДС</td>
           <td th:text="${order.comm} " class="col7">Комментарий</td>
           <td>
           <form th:action="@{/fileDownload}" method="get" style="display:inline;">
                 <input type="hidden" name="id" th:value="${order.id}">
                 <input type="submit" value="Скачать Заказ"/> &nbsp|&nbsp<span th:text="${order.fileYesNo}" style="color:#8B4513;"></span>
               </form>           
        </tr>          
    </table>
</div>
<br><br>
    
<div th:replace="footer :: footer"></div>

</body>
</html> 