<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Список Заказов</title>
</head>
<body>

<div th:replace="header :: header"></div>

<br><br><br>

<div class="search">         
   <form th:action="@{/admin/findByOrderNumber}" th:method="get" >
     <label>Поиск по № Заказа  </label> &nbsp&nbsp
       <input type="number" name="orderNumberSearch" min="0" required>
       <input type="submit" value="Найти" >
       </form>
       <br>
       <form th:action="@{/admin/findByBsName}" th:method="get" >
       <label>Поиск по № БС</label> &nbsp&nbsp
       <input type="text" name="bsNumberSearch" placeholder="Код '78-' указывать необязательно" style="width:220px" required>
       <input type="submit" value="Найти" >  
   </form>            
</div>
<br><br>
<div>
<form th:action="@{/admin/bdEdit}" method="get">
<label for="str" style="font-size:20px;"> Cтр. </label>
<input type="number" size="5" name="str" id="str" step="1" min="0" th:value="${str}" style="width:40px;height:20px;font-size:16px;text-align:center;">
&nbsp|&nbsp
<label for="numstr" style="font-size:20px;"> Кол-во заказов на стр. </label>
<input type="number" size="5" name="numstr" id="numstr" step="5" min="10" th:value="${numstr}" style="width:40px;height:20px;font-size:16px;text-align:center;">
<input type="submit" value="Применить" style="height:25px;font-size:16px;">
</form>
 <table class="ordertable" border="1">
 <caption align="top"><h3>Список Заказов</h3></caption>
        <tr>
          <th>№ Заказа</th> <th>№ БС</th> <th>Дата начала</th> 
          <th>Дата окончания</th><th>Стоимость без НДС</th><th>Стоимость с НДС</th><th class="col7">Комментарий</th>
        </tr>
         
        <tr th:each="order : ${orderlist}">
           <td th:text="${order.orderNumber} ">№ Заказа</td><td th:text="${order.bsNumber} ">№ БС</td><td th:text="${order.dateStart} ">Дата начала</td> 
           <td th:text="${order.dateEnd} ">Дата окончания</td><td th:text="${order.calc} ">Стоимость без НДС</td><td th:text="${order.calcNds} ">Стоимость с НДС</td>
           <td th:text="${order.comm} " class="col7">Комментарий</td>
           <td class="col8" style="text-align:left;">
               <form th:action="@{/bdEdit}" method="get" style="display:inline;">
                 <input type="hidden" name="id" th:value="${order.id}">
                 <input type="submit" value="Редактировать" style="background:#98FB98;">
               </form> | 
               <form th:action="@{/bdDelete}" method="post" style="display:inline;">
                 <input type="hidden" name="id" th:value="${order.id}">
                 <input type="submit" value="Удалить" style="background:#FF0000; color:white;">
               </form>
               <br><br>
               <form id="fileload" enctype="multipart/form-data" th:action="@{/fileLoad}" method="post" style="display:inline;">
                 <input type="file" name="file" />
                 <input type="hidden" name="id" th:value="${order.id}">
                 <br>
                 <input type="submit" value="Загрузить файл" style="background:#808080; color:white;">
               </form> | 
               <form id="filedelete" th:action="@{/fileDelete}" method="post" style="display:inline;">
                 <input type="hidden" name="id" th:value="${order.id}">
                 <input type="submit" value="Удалить файл" style="color:red; ">
               </form>
           </td> 
        </tr>
             
    </table>
</div>
<br><br>
    
<div th:replace="footer :: footer"></div>

</body>
</html> 