<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/acdc.ico}">
<title>ТЦП</title>
</head>
<body>

<br><br>
<div>
<h3 style="text-align:center;">ТЦП на оказание услуг аварийного электроснабжения объектов</h3>
</div>
<div class="content">

<table>
<tr>
<td>№ п/п</td><td>Наименование работ</td><td>Кол-во</td><td>Ед. изм.</td><td>До 3.5 кВт.вкл(переносной) (Партнер)</td><td>До 8 кВт.вкл(прицеп) (Партнер)</td><td>До 16 кВт.вкл(прицеп) (Партнер)</td><td>До 3.5 кВт.вкл(переносной) (Заказчик)</td><td>До 8 кВт.вкл(прицеп) (Заказчик)</td><td>До 16 кВт.вкл(прицеп) (Заказчик)</td><td>Примечание</td>
</tr>
<tr>
<td>1</td><td>Обеспечение АЭС Объекта (АВАРИЙНОЕ)</td><td>1</td><td>час</td>
<td th:text="${price2.pricesValue} "></td>
<td th:text="${price3.pricesValue} "></td>
<td th:text="${price4.pricesValue} "></td>
<td th:text="${price5.pricesValue} "></td>
<td th:text="${price6.pricesValue} "></td>
<td th:text="${price7.pricesValue} "></td>
<td>Расценка включает: стоимость ГСМ, ТО ДГУ, работу бригады, контроль отсутствия сетевого напряжения</td>
</tr>
<tr>
<td>2</td><td>Обеспечение АЭС Объекта (ПЛАНОВОЕ)</td><td>1</td><td>час</td>
<td th:text="${price8.pricesValue} "></td>
<td th:text="${price9.pricesValue} "></td>
<td th:text="${price10.pricesValue} "></td>
<td th:text="${price11.pricesValue} "></td>
<td th:text="${price12.pricesValue} "></td>
<td th:text="${price13.pricesValue} "/></td>
<td>Расценка включает: стоимость ГСМ, ТО ДГУ, работу бригады, контроль отсутствия сетевого напряжения</td>
</tr>
<tr>
<td>3</td><td>Обеспечение АЭС Объекта от 1 до 3 суток (АВАРИЙНОЕ)</td><td>1</td><td>сутки</td>
<td th:text="${price14.pricesValue} "></td>
<td th:text="${price15.pricesValue} "></td>
<td th:text="${price16.pricesValue} "></td>
<td th:text="${price17.pricesValue} "></td>
<td th:text="${price18.pricesValue} "></td>
<td th:text="${price19.pricesValue} "></td>
<td>Расценка включает: стоимость ГСМ, ТО ДГУ, работу бригады, контроль отсутствия сетевого напряжения</td>
</tr>
<tr>
<td>4</td><td>Обеспечение АЭС Объекта от 1 до 3 суток (ПЛАНОВОЕ)</td><td>1</td><td>сутки</td>
<td th:text="${price20.pricesValue} "></td>
<td th:text="${price21.pricesValue} "></td>
<td th:text="${price22.pricesValue} "></td>
<td th:text="${price23.pricesValue} "></td>
<td th:text="${price24.pricesValue} "></td>
<td th:text="${price25.pricesValue} "></td>
<td>Расценка включает: стоимость ГСМ, ТО ДГУ, работу бригады, контроль отсутствия сетевого напряжения</td>
</tr>
<tr>
<td>5</td><td>Обеспечение АЭС Объект от 3 и более суток (ПЛАНОВОЕ)</td><td>1</td><td>сутки</td>
<td th:text="${price26.pricesValue} "></td>
<td th:text="${price27.pricesValue} "></td>
<td th:text="${price28.pricesValue} "></td>
<td th:text="${price29.pricesValue} "></td>
<td th:text="${price30.pricesValue} "></td>
<td th:text="${price31.pricesValue} "></td>
<td>Расценка включает: стоимость ГСМ, ТО ДГУ, работу бригады, контроль отсутствия сетевого напряжения</td>
</tr>
<tr>
<td>6</td><td>Выезд аварийной бригады, доставка и подготовка БГУ, ДГУ для обеспечения АЭС объекта МТС</td><td>1</td><td>выезд</td>
<td th:text="${price32.pricesValue} "></td>
<td th:text="${price33.pricesValue} "></td>
<td th:text="${price34.pricesValue} "></td>
<td th:text="${price35.pricesValue} "></td>
<td th:text="${price36.pricesValue} "></td>
<td th:text="${price37.pricesValue} "></td>
<td>В рамках одной Заявки позиция может быть использована не более одного раза. Расценка включает: стоимость ГСМ, контроль отсутствия сетевого напряжения.</td>
</tr>
<tr>
<td>7</td><td>Компенсация ложного выезда аварийной бригады для обеспечения АЭС</td><td>1</td><td>выезд</td>
<td th:text="${price38.pricesValue} "></td>
<td th:text="${price39.pricesValue} "></td>
<td th:text="${price40.pricesValue} "></td>
<td th:text="${price41.pricesValue} "></td>
<td th:text="${price42.pricesValue} "></td>
<td th:text="${price43.pricesValue} "></td>
<td>Позиция используется в случае, если к моменту прибытия аварийной бригады Партнера на Объект по Заявке МТС произошло самовосстановление штатного электропитания и работы по АЭС фактически не проводились. Позиция может быть использована в рамках одной Заявки не более одного раза.</td>
</tr>
</table>
<br>
<table>
<tr>
<td>№ п/п</td><td>Наименование работ</td><td>Кол-во</td><td>Ед. изм.</td><td>Цена за ед.изм., руб. без НДС</td><td>Примечание</td>
</tr>
<tr>
<td>1</td><td>Оплата транспортных издержек Партнера</td><td>1</td><td>км</td>
<td th:text="${price44.pricesValue} "></td>
<td>Позиция используется при проведении Работ (АЭС) на Объектах МТС, находящихся за пределами КАД. Оплата производится исходя из протяженности пути бригады Партнера от КАД до Объекта МТС и обратно. Маршрут до БС прокладывается по кратчайшей автодороге от адреса офиса МТС до адреса БС (км.) с использованием ресурса сети «Интернет» «сервиса Яндекс Карты» https://yandex.ru/maps</td>
</tr>
<tr>
<td>2</td><td>Использование автомобильной техники повышенной проходимости (ГАЗ-66, ЗИЛ-131, Урал, Камаз и т.д.)</td><td>1</td><td>выезд</td>
<td th:text="${price45.pricesValue} "></td>
<td>Позиция используется в случае невозможности проезда на Объект МТС на автомобиле класса «джип», «микроавтобус», «микро грузовик» (TOYOTA HIACE, MITSUBISHI L200, VOLKSWAGEN AMAROK или аналогичные). Позиция может быть использована в рамках одной Заявки не более одного раза для одного объекта</td>
</tr>
</table>
<br>

</div>
<br><br>

<div th:replace="footer :: footer"></div>

</body>
</html>