<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Изменение ТЦП</title>
</head>
<body>
<div class="header">
<h3 style="text-align:center;">ТЦП на оказание услуг аварийного электроснабжения объектов</h3>
</div>
<div class="content">
<form th:action="@{/priceChanges}" method="post">
<table>
<tr>
<td>№ п/п</td><td>Наименование работ</td><td>Кол-во</td><td>Ед. изм.</td><td>До 3.5 кВт.вкл(переносной) (Партнер)</td><td>До 8 кВт.вкл(прицеп) (Партнер)</td><td>До 16 кВт.вкл(прицеп) (Партнер)</td><td>До 3.5 кВт.вкл(переносной) (Заказчик)</td><td>До 8 кВт.вкл(прицеп) (Заказчик)</td><td>До 16 кВт.вкл(прицеп) (Заказчик)</td><td>Примечание</td>
</tr>
<tr>
<td>1</td><td>Обеспечение АЭС Объекта (АВАРИЙНОЕ)</td><td>1</td><td>час</td><td><input type="text" name="DGU3_CONTRACTOR_TIMEHOURES_WORKALARM" th:value="${DGU3_CONTRACTOR_TIMEHOURES_WORKALARM}"/></td><td></td><td></td><td></td><td></td><td></td><td>Расценка включает: стоимость ГСМ, ТО ДГУ, работу бригады, контроль отсутствия сетевого напряжения</td>
</tr>
<tr>
<td>2</td><td>Обеспечение АЭС Объекта (ПЛАНОВОЕ)</td><td>1</td><td>час</td><td></td><td></td><td></td><td></td><td></td><td></td><td>Расценка включает: стоимость ГСМ, ТО ДГУ, работу бригады, контроль отсутствия сетевого напряжения</td>
</tr>
<tr>
<td>3</td><td>Обеспечение АЭС Объекта от 1 до 3 суток (АВАРИЙНОЕ)</td><td>1</td><td>сутки</td><td></td><td></td><td></td><td></td><td></td><td></td><td>Расценка включает: стоимость ГСМ, ТО ДГУ, работу бригады, контроль отсутствия сетевого напряжения</td>
</tr>
<tr>
<td>4</td><td>Обеспечение АЭС Объекта от 1 до 3 суток (ПЛАНОВОЕ)</td><td>1</td><td>сутки</td><td></td><td></td><td></td><td></td><td></td><td></td><td>Расценка включает: стоимость ГСМ, ТО ДГУ, работу бригады, контроль отсутствия сетевого напряжения</td>
</tr>
<tr>
<td>5</td><td>Обеспечение АЭС Объект от 3 и более суток (ПЛАНОВОЕ)</td><td>1</td><td>сутки</td><td></td><td></td><td></td><td></td><td></td><td></td><td>Расценка включает: стоимость ГСМ, ТО ДГУ, работу бригады, контроль отсутствия сетевого напряжения</td>
</tr>
<tr>
<td>6</td><td>Выезд аварийной бригады, доставка и подготовка БГУ, ДГУ для обеспечения АЭС объекта МТС</td><td>1</td><td>выезд</td><td></td><td></td><td></td><td></td><td></td><td></td><td>В рамках одной Заявки позиция может быть использована не более одного раза. Расценка включает: стоимость ГСМ, контроль отсутствия сетевого напряжения.</td>
</tr>
<tr>
<td>7</td><td>Компенсация ложного выезда аварийной бригады для обеспечения АЭС</td><td>1</td><td>выезд</td><td></td><td></td><td></td><td></td><td></td><td></td><td>Позиция используется в случае, если к
моменту прибытия аварийной бригады Партнера на Объект по Заявке МТС произошло самовосстановление штатного электропитания и работы по АЭС фактически не проводились. Позиция может быть использована в рамках одной Заявки не более одного раза.</td>
</tr>
</table>
<br>
<table>
<tr>
<td>№ п/п</td><td>Наименование работ</td><td>Кол-во</td><td>Ед. изм.</td><td>Цена за ед.изм., руб. без НДС</td><td>Примечание</td>
</tr>
<tr>
<td>1</td><td>Обеспечение АЭС Объекта (АВАРИЙНОЕ)</td><td>1</td><td>км</td><td></td><td>Позиция используется при проведении Работ (АЭС) на Объектах МТС, находящихся за пределами КАД. Оплата производится исходя из протяженности пути бригады Партнера от КАД до Объекта МТС и обратно. Маршрут до БС прокладывается по кратчайшей автодороге от адреса офиса МТС до адреса БС (км.) с использованием ресурса сети «Интернет» «сервиса Яндекс Карты» https://yandex.ru/maps</td>
</tr>
<tr>
<td>2</td><td>Обеспечение АЭС Объекта (ПЛАНОВОЕ)</td><td>1</td><td>выезд</td><td></td><td>Позиция используется в случае невозможности проезда на Объект МТС на автомобиле класса «джип», «микроавтобус», «микро грузовик» (TOYOTA HIACE, MITSUBISHI L200, VOLKSWAGEN AMAROK или аналогичные). Позиция может быть использована в рамках одной Заявки не более одного раза для одного объекта</td>
</tr>
</table>
<br>
<p style="text-align:center;"><input type="submit" value="Сохранить изменения" style="width: 155px; height: 40px; background-color: #98FB98;" ></p>
</form>
</div>
<br><br>
<div class=footer>
Автор: Сергей Павлов #SrgyPvlv.&nbsp Написать автору:      
<a href="mailto:s.a.pavlov@mail.ru?subject=Вопрос по Приложению:Расчет Заказов аварийного электроснабжения." style="color:#000000;font-weight:bold;">@e-mail </a>
</div>
</body>
</html>