<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Загрузка файла Заказа</title>
</head>
<body>
<form id="fileload" enctype="multipart/form-data" th:action="@{/upload}" method="post">
            <input type="hidden" name="id2" th:value="${order.id}" />
            <p>
                <input type="file" name="file" />
            </p>
            <p>
                <input type="submit" value="Загрузить" />
            </p>
        </form>

</body>
</html>